*{
    margin:0;
    padding:0;
}


body{
    background:#808080;
}

.divTitle {
    margin:0 5px 0 5px;
    background:#000000;
    color:#ffffff;
}
.divMainTitle {
    text-align:center;
}
.divLittleTitle {
    text-align:right;
}