.divMenu {
    text-align: right;
    background: #000000;
    margin: 0 5px 0 5px;
}

    .divMenu a {
        color: #FFFFFF;
        text-decoration: none;
    }

.divGoodOrder {
    margin: 10px 0 10px 0;
    text-align: center;
}
    .divGoodOrder .gvUserCart {
        display: inline-block;
    }
    .divGoodOrder .divUserSure{
        float:right;
        text-align:left;
    }
    .divGoodOrder .button {
        border: 1px solid #ffffff;
        padding: 4px 14px;
        background-color: #000000;
        color: #ffffff;
        text-transform: uppercase;
        margin: 5px 0;
        font-weight: 400;
        cursor: pointer;
        border-radius: 50px;
    }

    .divGoodOrder .divUserAddress {
        display: inline-block;
        width: 75%;
        border: 4px double #FFFFFF;
    }